.mainHeader {
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #040403;
  transition: 0.5s;
}

#menuHeaderColorChange {
  width: 100%;
  height: 8rem;
  background: #040403;
  animation: mymove 2s 1;
}

@keyframes mymove {
  from {
    background-color: white;
  }
  to {
    background-color: #040403;
  }
}

#mainHeaderTitleChange {
  font-size: 4rem;
  font-style: italic;
  position: absolute;
  z-index: 2;
  box-sizing: inherit;
  transition: 0.55s;
}

.blockGifs {
  z-index: 1;
  box-sizing: inherit;
}

#gifPicture {
  width: 120rem;
  background: #040403;
  animation: mymove 2s 1;
  transition: ease-in;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
