body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 auto;
  background-image: url("backdrop-inverted2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#shitContainer {
  margin-top: 64rem;
  text-align: center;
  font-size: 1.75rem;
  transition: ease-in 0.3s;
  padding-top: 3rem;
  display: block;
}

#shitContainer p {
  margin: 0px;
  color: white;
  font-weight: 400;
}

#shitContainer h1 {
  margin: 0px;
  color: white;
  font-weight: 400;
  font-size: 4rem;
  margin-top: 2rem;
  font-style: italic;
}

/* parallax efekt peshki */

/* .imgScroll { 
  max-height: 100%;
  height: 128rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("backdrop-invert.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  margin: 0; 
} */

/* parallax efekt so js */
.picWrapper {
  max-height: 100%;
  max-height: 100%;
  margin-top: 0rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -100;
}

.picWrapper img {
  width: 35%;
  height: auto;
  object-fit: contain;
}

/* #swagContainer p {
  padding-left: 30%;
  padding-right: 30%;
  font-size: 2rem;
  text-align: center;
} */
